<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/home.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <title>Group Chat</title>
  </head>
  <body id="body">
    <nav>
      <div class="top-nav-bar">
        <h3>Group Chat</h3>
        <button
          class="button me-5 me-sm-3"
          data-bs-toggle="modal"
          data-bs-target="#createGroupModal"
        >
          Create Group
        </button>
      </div>
    </nav>
    <div class="middle-container">
      <div id="groups-cont" class="p-lg-3 p-3"></div>
      <div id="messages-row"></div>
    </div>
    <div class="container">
      <div
        class="row fixed-bottom d-flex flex-row justify-content-center bottom-cont p-2"
      >
        <form class="col-10 col-md-8 col-lg-4 d-flex flex-row" id="form">
          <input type="text" class="form-control" id="msg" required />
          <button class="button" type="submit">Send</button>
        </form>
      </div>
    </div>

    <!-- Modal -->
    <div
      class="modal fade"
      id="createGroupModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <form class="modal-content" id="createGroupForm">
          <div class="modal-header modal-header-bg">
            <h1 class="modal-title fs-5" id="exampleModalLabel">
              Friendships Take Flight Here!
            </h1>
            <button
              type="button"
              class="btn-close"
              id="closeBtn"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <div class="mb-2">
              <label for="groupName" class="form-label fw-bold"
                >Group Name</label
              >
              <input type="text" class="form-control" id="groupName" required />
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="button-bg">Create Group</button>
          </div>
        </form>
      </div>
    </div>
    <!---Modal For adding members-->

    <div
      class="modal fade"
      id="editModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">
              Group Details
            </h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <div class="mb-3">
              <div id="addMemCont">
                <label for="phoneNumToAddMem" class="form-label fw-bold"
                  >Phone Number</label
                >
                <input
                  type="number"
                  class="form-control"
                  id="phoneNumToAddMem"
                  min="0"
                  pattern="[0-9]{10}"
                  title="9876543210"
                  placeholder="Enter your friends number"
                  required
                />
              </div>
              <div id="nameContent"></div>
            </div>
            <div class="mb-3">
              <label class="form-label fw-bold">Members</label>
              <div id="membersRow"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- upload image modal -->
    <div
      class="modal fade"
      id="uploadImageModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Send Image</h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
              id="uploadImgBtn"
            ></button>
          </div>

          <div class="modal-body d-flex flex-column justify-content-center">
            <div class="input-div align-self-center">
              <label for="imageSelected"> Select Image</label>
              <input
                onchange="imageSelected()"
                type="file"
                class="file"
                id="imageSelected"
                accept="image/jpeg, image/png, image/jpg"
              />
            </div>
            <hr />
            <form id="queued-form" class="d-none">
              <div class="queued-div"></div>
              <button type="submit" class="upload-img">Upload</button>
            </form>
          </div>
          <div class="modal-footer"></div>
        </div>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
    <script src="http://localhost:3000/socket.io/socket.io.js"></script>
    <script src="../js/home.js"></script>
  </body>
</html>
