* {
  box-sizing: border-box;
}

#body {
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
  background-color: white;
}

.top-nav-bar {
  min-height: 8vh;
  background-color: #379683;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 5%;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
}
.top-nav-bar h3 {
  font-family: cursive;
  font-size: 25px;
  padding: 5px;
  font-weight: 800;
  color: white;
}

.grp-heading {
  font-family: cursive;
  font-size: 25px;
  padding: 5px;
  font-weight: 800;
  color: #379683;
}

.modal-header-bg {
  background-color: #379683;
  color: white;
}
.middle-container {
  height: 84vh;
  overflow-y: auto;
  display: flex;
  justify-content: center;
}
#groups-cont {
  width: 30vw;
  border-right: 3px solid #379683;
  border-radius: 0 15px 15px 0;
  display: flex;
  flex-direction: column;
}
#messages-row {
  width: 70vw;
  padding: 20px;
  overflow-y: auto;
}

.bottom-cont {
  height: 8vh;
  background-color: #195088;
  box-shadow: 2px 0px 0px 2px rgba(0, 0, 0, 0.1);
}

.button {
  background-color: white;
  color: #379683;
  border: 2px solid #379683;
  margin-left: 5px;
  padding: 5px 20px;
  border-radius: 5px;
  font-weight: bold;
}

.sml-button {
  background-color: white;
  color: #379683;
  border: 2px solid #379683;
  font-weight: 500;
  font-size: 15px;
  border-radius: 5px;
  padding: 5px 5px;
}
.button-group {
  background-color: white;
  color: #379683;
  border: 2px solid #379683;
  margin: 5px;
  padding: 10px;
  text-align: left;
  border-radius: 5px;
  font-weight: bold;
}
.button-bg {
  background-color: #195088;
  color: white;
  border: none;
  font-weight: 500;
  border-radius: 5px;
  padding: 5px 20px;
}

.small-btn {
  background-color: #195088;
  color: white;
  border: none;
  font-weight: 500;
  font-size: 15px;
  border-radius: 5px;
  padding: 5px 5px;
}

.message {
  color: #000;
  clear: both;
  line-height: 18px;
  font-size: 15px;
  padding: 8px;
  position: relative;
  margin: 8px 0;
  max-width: 50%;
  word-wrap: break-word;
  z-index: -1;
}
.message.sent {
  background: #edf5e1;
  border-radius: 5px 0px 5px 5px;
  float: right;
}

.message.received {
  background: #edf5e1;
  border-radius: 0px 5px 5px 5px;
  float: left;
}
.name {
  display: block;
  font-size: 10px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 0px 5px 0 0;
  font-weight: 800;
  color: #379683;
}

.metadata {
  display: inline-block;
  float: right;
  padding: 0 0 0 7px;
  position: relative;
  bottom: -4px;
}

.metadata .time {
  color: rgba(0, 0, 0, 0.45);
  font-size: 11px;
  display: inline-block;
}
.top-div-El {
  border-bottom: 2px solid #195088;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}
.no-button {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid black;
}
.error-msg {
  color: red;
  margin: 5px;

  font-weight: 700;
  font-size: 15px;
}
.strongEl {
  color: #379683;
}
.success-cont {
  min-width: 50%;
  border: 2px solid #379683;
  margin-top: 10px;
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
}
.modal-name-cont {
  min-width: 50%;

  margin-top: 10px;
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
}

.no-group-cont {
  margin-top: 15%;
  border: 2px solid #195088;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.no-group-heading {
  text-align: center;
  font-size: 25px;
  font-weight: 500;
  color: rgb(203, 42, 42);
}
