* {
  box-sizing: border-box;
}

#body {
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
  background-color: #edf5e1;
}

.top-nav-bar {
  min-height: 8vh;
  background-color: #379683;
  display: flex;
  align-items: center;
  padding-left: 5%;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
}
.top-nav-bar h3 {
  font-family: cursive;
  font-size: 25px;
  padding: 5px;
  font-weight: 800;
  color: white;
}
.middle-container {
  height: 84vh;
  overflow-y: auto;
}

.bottom-cont {
  height: 8vh;
  background-color: #195088;
  box-shadow: 2px 0px 0px 2px rgba(0, 0, 0, 0.1);
}

.button {
  background-color: white;
  color: #379683;
  border: 2px solid #379683;
  margin-left: 5px;
  padding: 5px 20px;
  border-radius: 5px;
  font-weight: bold;
}
.message {
  color: #000;
  clear: both;
  line-height: 18px;
  font-size: 15px;
  padding: 8px;
  position: relative;
  margin: 8px 0;
  max-width: 85%;
  word-wrap: break-word;
  z-index: -1;
}
.message.sent {
  background: #e1ffc7;
  border-radius: 5px 0px 5px 5px;
  float: right;
}

.metadata {
  display: inline-block;
  float: right;
  padding: 0 0 0 7px;
  position: relative;
  bottom: -4px;
}

.metadata .time {
  color: rgba(0, 0, 0, 0.45);
  font-size: 11px;
  display: inline-block;
}
